@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Roboto&family=Rubik:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFACC0;
    font-family: 'Rubik', sans-serif;
}

nav {
    padding: 0 70px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E80000;
    font-family: Rubik;
    font-size: 18px;
}
.nav-left {
    display: flex;
    width: 397px;
}
.nav-link {
    text-emphasis: none;
    color: #E80000;
    text-decoration: none;
    font-family: Rubik;
    padding: 0 1rem;
}

.nav-center {
    width: 397px;
    font-family: 'Sansita';
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
.nav-right {
    width: 397px;
    display: flex;
    justify-content: flex-end;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 94vh;
}
.title { 
    color: #E80000;
    font-family: Sansita;
    font-size: 121px;
    font-weight: 700;
    line-height: 127px; /* 104.959% */
}
.subtitle {
    color: #E80000;
    font-family: Sansita;
    font-size: 27px;
    font-weight: 700;
}
.shop-button {
    color: #FFF;
    font-family: Rubik;
    font-size: 32px;
    width: 298px;
    height: 85px;
    border: none;
    border-radius: 20px;
    background: #E80000;
}

.morning-container {
    background-color: #ffea01;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 0;
}
.morning-title {
    color: #E80000;
    font-family: Sansita;
    font-size: 64px;
    font-weight: 400;
}
#morning-image {
    margin-bottom: 50px;
}
#morning-button {
    margin-top: 50px;
    border-radius: 20px;
    background: #FB4E26;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 50px;
    width: 400px;
    height: 125px;
    border: none;
}

.our-story-container {
    background-color: #ffa8bb;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 0;   
}
.our-story-title {
    color: #E80000;
    font-family: Sansita;
    font-size: 121px;
    font-weight: 700;
    width: 569px;
    height: 426px;
    margin-left: -350px;
}
.our-story-text {
    color: #E80000;
    font-family: Sansita;
    font-size: 32px;
    width: 778px;
    height: 400px;
    margin: 50px 0 0 350px;
}
.our-story-button { 
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    background: #E80000;
    border: none;
}

.items-container {
    padding: 25px 95px;
}
.items-title {
    margin: 50px 0 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 321.879px;
}
.items-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 25px;
    margin-bottom: 100px;
}
.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-item-image {
    width: 330px;
    height: 465px;
}
.shop-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shop-item-title {
    color: #4936A2;
    text-align: center;
    font-family: Sansita;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}
.shop-item-button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #4936A2;
    border: none;
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
}

footer {
    display: flex;
    padding: 316px 70px 0 70px;
    height: 692px;
    width: 100%;
    background-color: #ED008C;
    justify-content: space-between;
}
.footer-title {
    color: #FEF200;
    font-family: 'Sansita';
    font-size: 80px;
    font-weight: 700;
    width: 265px;
}
.footer-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 339px;
    height: 235px;
}
.footer-link {
    color: #FEF200;
    font-family: Rubik;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
}
.email-container {
    width: 643px;
}
.email-text {
    color: #FEF200;
    font-family: Rubik;
    font-size: 32px;
    font-weight: 400;
}
.input-container {
    display: flex;
    justify-content: space-between;
}
.email-input {
    border-radius: 10px;
    background: #FFFFFC;
    width: 400px;
    height: 100px;
    border: none;
    padding: 20px;
    font-size: 30px;
}
.email-button {
    color: #ED008C;
    text-align: center;
    font-family: Rubik;
    font-size: 32px;
    font-weight: 700;
    border-radius: 10px;
    background: #FEF200;
    width: 218px;
    height: 100px;
    border: none;
}